.top.container.project.card > [class="content"] > [class="header"] {
  font-family: 'Roboto', sans-serif;
}

.top.container.project.card> [class="content"] > [class="header"] {
  font-size: 21px;
}

.top.container.project.card > [class="content"],
.top.container.project.card > [class="content"] [class="header"],
.top.container.project.card > [class="content"] [class="meta"],
.top.container.project.card > [class="content"] [class="description"],
.top.container.project.card > [class="extra content"] {
  color: white;
}

.top.container.project.card > [class="content"],
.top.container.project.card > [class="extra content"] {
  background-color: var(--darkGrey);
  min-height: 200px;
}

.top.container.project.card:hover > [class="content"],
.top.container.project.card:hover > [class="extra content"] {
  color: white;
  background-color: var(--mainBlue);
}

.primaryContainer.top.container.project.card {
  border: solid 1px var(--darkGrey);
  margin: auto;
  width: 340px;
}

.secondaryContainer.top.container.project.card {
  border: solid 1px var(--darkGrey);
  margin: auto;
  max-width: 250px;
}

@media only screen and (max-width: 767px) {
  .primaryContainer.top.container.project.card {
    width: 250px;
  }
}
