.arrow {
  background: var(--mainGrey) !important;
  border-radius: 50%;
  cursor: pointer;
  padding: 16px 12px 16px 16px;
  width: 70px;
  height: 70px;
}

.arrowIcon {
  color: var(--mainBlack);
  cursor: pointer;
  font-size: 30px !important;
}

.arrow::before {
  opacity: 0 !important;
}

.arrowRight {
  right: -75px;
}

.arrowLeft {
  left: -75px;
}

.container {
  background-color: white;
  padding: 40px 0 60px 0;
  min-width: 1000px;
}

.primaryCarousel {
  margin: auto;
  max-width: 800px;
}

.secondaryCarousel {
  margin-left: 50px;
}

.primaryHeader {
  color: var(--mainBlack);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 44px;
  margin: 0 0 60px 100px;
}

.secondaryHeader {
  color: var(--mainBlack);
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 44px;
  margin: 30px 0 30px 60px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .container {
    min-width: 260px !important;
  }

  .primaryHeader {
    text-align: center;
    margin: 40px 0;
  }

  .secondaryHeader {
    text-align: center;
    margin: 40px 0;
  }

  .arrow {
    padding: 2px 2px 10px 10px;
    width: 40px;
    height: 40px;
  }

  .arrowIcon {
    font-size: 15px !important;
  }

  .arrowRight {
    right: 0px;
  }

  .arrowLeft {
    left: 0px;
  }

  .secondaryCarousel {
    margin-left: 0;
  }
}
