
.markdownContainer {
  padding: 50px 0;
}

.markdownContainer {
  color: var(--darkGrey);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.markdownContainer p {
  line-height: 30px;
}

.markdownContainer p a {
  color: var(--darkGrey);
  font-weight: bold;
  text-decoration: underline;
}

.markdownContainer h3 {
  font-size: 1.4em;
  margin: 1.5em 0 1em;
}

.markdownContainer img {
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdownContainer pre > code {
  letter-spacing: 0;
  line-height: 1.25em;
}

.markdownContainer pre {
}

.markdownContainer figcaption {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
