.inactiveContainer {
  padding: 20px 10px 6px 10px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.activeText {
  font-weight: bold;
  padding-top: 25px;
}

.inactiveText {
  font-weight: normal;
}

.activeBottomBar {
  background-color: var(--mainBlue);
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

