.divider {
  color: white;
  font-size: 20px;
  padding: 5px;
}

.container {
  padding-top: 10px;
  text-align: right;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  max-width: 300px;
}

.languageSwitcherContainer {
  padding: 30px 0;
}

@media only screen and (max-width: 933px) {
  .container {
    text-align: center;
  }

  .text {
    font-size: 15px;
    margin: 10px auto;
  }
}
