
.container {
  padding-top: 0;
  text-align: right;
  float: right;
}

.divider {
  color: white;
  font-size: 20px;
  float: right;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  width: 300px;
  padding-right: 0px;
}

.text a {
  color: white;
}

.languageSwitcherContainer {
  margin: 30px 0;
}

@media only screen and (max-width: 933px) {
  .container {
    text-align: center;
    float: none;
  }

  .text {
    font-size: 15px;
    margin: 10px auto;
    float: none;
  }
}
