version: '3.7'
services:
  gatsby:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    working_dir: /app
    command: ./docker/entrypoint.sh
    ports:
      - "8000:8000"
    volumes:
     - .:/app
     - /app/node_modules/
