.bodyContainer {
  background-color: white;
  padding: 50px 20%;
  font-size: 18px;
  line-height: 24px;
}

.headerContainer {
  padding: 80px 0 80px 0;
  text-align: center;
}

.headerText {
  color: var(--mainBlack);
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 66px;
  text-align: center;
}
