.topContainer {
  border-bottom: 2px solid var(--mainBlue);
  padding: 60px 0;
}

.container {
  text-align: center;
  width: 100%;
}

.lightBlueBackground {
  background: var(--lightBlueGradient);
}

.whiteText {
  color: white !important;
}

.headerText {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-bottom: 40px;
  color: var(--darkGrey)
}

.supportUsLink {
  color: var(--mainBlue);
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 25px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.linkContainer {
  padding: 60px 60px 0 60px;
}

@media only screen and (max-width: 767px) {
  .headerText {
    font-size: 22px;
  }
}
