.container {
  margin-bottom: 50px !important;
  min-height: 639px;
}

.headerText {
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 96px;
  margin-bottom: 0;
  padding-top: 200px;
  text-align: left;
  text-transform: uppercase;
}

.paragraphText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 30px;
  margin: 0 0 60px 0;
  text-align: left;
  text-transform: uppercase;
}

.blueBar {
  background-color: var(--mainBlue);
  float: right;
  margin-right: 16px;
  margin-top: 200px;
  height: 96px;
  width: 16px;
}

.longBlueBar {
  height: 208px;
}

@media only screen and (max-width: 767px) {
  .headerText {
    font-size: 16px;
    padding: 30px 0 10px 0;
  }

  .paragraphText {
    font-size: 12px;
  }

  .blueBar {
    margin-top: 30px;
  }

  .longBlueBar {
    height: 208px;
  }
}
