.container {
  margin-bottom: 50px !important;
}

.headerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 44px;
  max-width: 600px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 60px;
  text-align: left;
  text-transform: uppercase;
}

.paragraphText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 30px;
  margin: 0 0 60px 0;
  text-align: left;
  text-transform: uppercase;
}

.blueBar {
  background-color: var(--mainBlue);
  float: right;
  height: 50px;
  margin-top: 60px;
  width: 10px;
}

.longBlueBar {
  height: 150px;
}

@media only screen and (max-width: 767px) {
  .headerText {
    font-size: 16px;
    padding: 30px 0 10px 0;
  }

  .paragraphText {
    font-size: 12px;
  }

  .blueBar {
    margin-top: 30px;
  }

  .longBlueBar {
    height: 150px;
  }
}
