.activeContainer,
.inactiveContainer {
  line-height: 64px;
  margin: 0 24px;
  min-height: 64px;
  position: relative;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 64px;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.activeText {
  font-weight: bold;
}

.inactiveText {
  font-weight: normal;
}

.activeBottomBar {
  background-color: var(--mainBlue);
  border-radius: 2px;
  position: absolute;
  bottom: 6px;
  height: 4px;
  width: 100%;
}
