.container {
  position: relative;
}

h2.title {
  font-weight: bold;
  font-size: 20px;
}

.imageContainer {
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .imageContainer {
    padding: 0;
  }
}

.mobileInstructions {
  position: absolute;
  z-index: 100;
  display: none;
}

.mobileInstructions p {
  font-size: 12px;
}

.mobileExplanation {
  display: none;
}

@media only screen and (max-width: 800px) {
  .mobileInstructions {
    display: block;
  }
  .mobileExplanation {
    display: block;
  }
}

.transparentRectangle {
  position: absolute;
  opacity: 0.4;
}

.transparentRectangle.privateKey {
  left: 80px;
  top: 170px;
  background-color: #FF81FA;
  width: 200px;
  height: 10px;
}

@media only screen and (max-width: 600px) {

}

.transparentRectangle.QR {
  left: 69px;
  top: 191px;
  background-color: #92FF81;
  width: 70px;
  height: 70px;
}

.transparentRectangle.mnemonicKey {
  left: 69px;
  top: 270px;
  background-color: #FF8181;
  width: 223px;
  height: 85px;
}

.transparentRectangle.encryptionKey {
  left: 69px;
  top: 380px;
  background-color: #FF81FA;
  width: 223px;
  height: 32px;
}

.arrowExplanation {
  position: absolute;
  left: 290px;
}

@media only screen and (max-width: 800px) {
  .arrowExplanation {
    display: none;
  }
}

.arrowExplanation.privateKey {
  top: 165px;
}

.arrowExplanation.QR {
  top: 220px;
  left: 135px;
}

.arrowExplanation.mnemonicKey {
  top: 290px;
}

.arrowExplanation.encryptionKey {
  top: 380px;
}

.arrowExplanation {
  width: 800px;
}

.arrowExplanation p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.longArrow {
  margin-top: 14px;
  width: 231px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.shortArrow {
  margin-top: 14px;
  width: 76px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.arrowLine {
  margin-top: 3px;
  width: 70px;
  background: var(--arrowOrange);
  height: 2px;
  float: left;
}

.longArrow .arrowLine {
  width: 225px
}

.arrowPoint {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid var(--arrowOrange);
  float: right;
}
