
h2.title {
  font-weight: bold;
  font-size: 20px;
}

.imageContainer {
  padding: 30px;
}

.container {
  position: relative;
}

.arrowExplanation {
  position: absolute;
  left: 290px;
}

.arrowExplanation.privateKey {
  top: 165px;
}

.arrowExplanation.QR {
  top: 220px;
  left: 135px;
}

.arrowExplanation.mnemonicKey {
  top: 290px;
}

.arrowExplanation.encryptionKey {
  top: 380px;
}

.arrowExplanation {
  width: 800px;
}

.arrowExplanation p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.longArrow {
  margin-top: 14px;
  width: 231px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.shortArrow {
  margin-top: 14px;
  width: 76px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.arrowLine {
  margin-top: 3px;
  width: 70px;
  background: var(--arrowOrange);
  height: 2px;
  float: left;
}

.longArrow .arrowLine {
  width: 225px
}

.arrowPoint {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid var(--arrowOrange);
  float: right;
}
