
h2.title {
  font-weight: bold;
  font-size: 20px;
}

.buttonsContainer {
  padding: 10px 10px 10px 0;
}

.container {
  margin-bottom: 40px;
}

.container button {
  background-color: white;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 20px;
}

.container button:hover {
  background-color: var(--mediumGrey);
}

.container button.active {
  background-color: var(--mediumGrey);
}

.container button.inactive {
  color: var(--mainBlue);
}

.container .warningBox {
  background-color: var(--warningYellow);
  padding: 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .container .subtitle {
    text-align: center;
  }

  h2.title {
    text-align: center;
  }

  .buttonsContainer {
    margin: auto;
    width: 300px;
    padding: 10px;
  }

  .buttonsContainer button {
    margin: 5px;
  }
}
