#containerFluid {
  width: 100%;
  background-color: #eff1f7;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  width: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 460px;
  height: 100%;
}

.versions {
  margin-bottom: 50px;
}

.versions button {
  font-weight: 600;
  margin-right: 35px;
  font-size: 24px;
  border-bottom: 4px solid transparent;
  color: #000000;
}

.versions .enabled {
  border-bottom: 4px solid #3650a2;
  transition: border 0.5s;
}

.versions button:hover {
  color: #1f1f1f9d;
}

.headerMain {
  font-size: 34px;
}

.headerAbout {
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  width: 85%;
}

.header img {
  width: calc(100% - 550px);
  height: 100%;
  border-radius: 6px;
}

.download {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 13px 53px;
  background: #3650a2;
  border-radius: 90px;
  color: #ffffff;
  font-size: 16px;
  width: 290px;
}
.download:hover {
  background: #2c3c70;
  color: #ffffff;
}

.aboutBlocks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 80px;
}

.block {
  width: 30%;
  height: 260px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-right: 50px;
}

.about {
  opacity: 0.5;
  font-size: 13px;
}

.block .name {
  margin-top: 15px;
  font-size: 24px;
  transition: 2s;
}

.images {
  display: flex;
  align-items: center;
}

.images img {
  margin-right: 20px;
}

@media only screen and (max-width: 1199px) {
  .header img {
    width: 500px;
  }
}

@media only screen and (max-width: 991px) {
  .header img {
    width: 350px;
  }
  .block {
    height: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .phone {
    width: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 50px;
  }
  .versions {
    margin-bottom: 25px;
  }
  .versions button {
    font-size: 18px;
    margin-right: 20px;
  }
  .header {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: unset;
    height: unset;
  }
  .leftSide {
    max-width: 90%;
    align-items: center;
    text-align: center;
  }

  .header img {
    height: 420px;
    width: 100%;
    margin-bottom: 20px;
  }
  .headerMain {
    font-size: 24px;
  }
  .headerAbout {
    font-size: 18px;
    line-height: 24px;
  }
  .aboutBlocks {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 35px;
  }
  .block {
    width: 90%;
    padding-right: 0;
    margin-bottom: 35px;
    height: unset;
  }
  .about {
    width: 90%;
  }
  .download {
    padding: 9px 40px;
  }
}

@media only screen and (max-width: 650px) {
  .header img {
    height: 350px;
  }
}

@media only screen and (max-width: 550px) {
  .leftSide {
    align-items: flex-start;
    text-align: start;
  }
  .download {
    width: 80%;
  }
  .header img {
    height: 300px;
  }
  .block {
    width: 100%;
  }
  .headerAbout,
  .download {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #containerFluid .container {
    padding: 0 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .header {
    margin: 0 -10px;
    width: unset;
  }
  .block {
    margin-left: 10px;
    margin-right: 10px;
    width: unset;
  }
  .aboutBlocks {
    /* margin: 0 -5%; */
  }
}

@media only screen and (max-width: 350px) {
  .header img {
    height: 180px;
  }
}
