:root {
  --anchorGreen: #80C341;
  --darkGrey: #424954;
  --lightGrey: #F4F4F4;
  --mainBlack: #343941;
  --mainBlue: #0091E2;
  --mainGrey: #B6BDC9;
  --lightBlueGradient: linear-gradient(112.06deg, #0091E2 9.23%, #00ABD0 100%);
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }
}
