:root {
  --anchorGreen: #80c341;
  --successGreen: #3BB14A;
  --darkGrey: #424954;
  --lightGrey: #f4f4f4;
  --mediumGrey: #f0f0f0;
  --paleGrey: #EBF3FF;
  --mainBlack: #343941;
  --mainBlue: #0091e2;
  --purpleBlue: #546aaf;
  --mainGrey: #b6bdc9;
  --mainPurple: #131b33;
  --metallicSilver: #a8b3bd;
  --warningYellow: #FFF8D6;
  --arrowOrange: #FF0001;
  --lightBlueGradient: linear-gradient(112.06deg, #0091e2 9.23%, #00abd0 100%);
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  height: auto !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }
}
