.top.container.teamMember.card {
  max-width: 400px;
  margin: auto;
}

.top.container.teamMember.card div[class='content'] {
  background-color: var(--mainGrey);
  padding: 50px 30px 100px 30px;
  min-height: 580px;
}

.top.container.teamMember.card div[class='content'] div[class='header'] {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 44px;
}

.top.container.teamMember.card div[class='content'] div[class='meta'] {
  color: var(--darkGrey);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-align: left;
}

.top.container.teamMember.card div[class='content'] div[class='description'] {
  color: var(--darkGrey);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-align: left;
}

.top.container.teamMember.card div[class='content'] div[class='description'] .expandButton {
  color: var(--mainBlue);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 21px;
}

.top.container.teamMember.card div[class='content'] div[class='description'] .expandedButton {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: var(--mainBlue);
}

.top.container.teamMember.card div[class='content'] .grid {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 95%;
}

.top.container.teamMember.card div[class='content'] div[class='description'] .icon {
  margin-left: 5px;
}

@media only screen and (min-width: 1000px) and (max-width: 1370px) {
  .top.container.teamMember.card div[class='content'] {
    min-height: 700px;
  }

  .top.container.teamMember.card div[class='content'] div[class='description'] .grid {
    margin-right: 0;
  }
}
