
.container {
  background-color: var(--mainGrey);
  min-height: 200px;
  position: relative;
}
.primaryContainer {
  background-color: var(--mainBlue);
}

.text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  height: 33%;
  left: 50%;
  letter-spacing: 0.02em;
  line-height: 22px;
  margin: -15% 0 0 -25%;
  max-width: 260px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 50%;
}
