.container {
  background-color: white;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--mainBlue);
}

.container .grid {
  padding: 80px 0;
}

.headerText {
  color: var(--mainBlack);
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 44px;
  padding: 40px;
  text-transform: uppercase;
}

.paragraphText {
  color: var(--mainBlack);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 34px;
  margin: 40px 5% 0 5%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .headerText {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 40px;
  }

  .paragraphText {
    font-size: 14px;
    line-height: 22px;
    margin: 0 20px;
  }

  .container .grid {
    padding: 40px 0;
  }
}
