.container {
  background-color: white;
}

h2.title {
  font-weight: bold;
  font-size: 20px;
}

.innerContainer {
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.advanced a {
  display: block;
  margin: 5px 0;
}

hr {
  border-top: 1px solid var(--lightGrey);
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  h2.title {
    text-align: center;
  }

  .advanced a {
    text-align: center;
  }
}
