.container {
  background-color: white;
}

h2.title {
  font-weight: bold;
  font-size: 20px;
}

.header {
  margin-top: -130px;
  background-color: var(--metallicSilver);
}

.innerContainer {
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.buttonsContainer {
  padding: 10px 10px 10px 0;
}

.steps {
  margin-bottom: 40px;
}

.steps button {
  background-color: white;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border-radius: 20px;
}

.steps button:hover {
  background-color: var(--mediumGrey);
}

.steps button.active {
  background-color: var(--mediumGrey);
}

.steps button.inactive {
  color: var(--mainBlue);
}

.steps .warningBox {
  background-color: var(--warningYellow);
  padding: 15px;
  border-radius: 5px;
}

.explanation {
}

.advanced a {
  display: block;
  margin: 5px 0;
}

hr {
  border-top: 1px solid var(--lightGrey);
}
