.sidebarPusher {
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebarButton {
  font-size: 20px;
  padding: 28px !important;
  width: 70px;
}

.linkText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
