.container {
  background-color: var(--mainBlue);
  padding: 100px 0;
  position: relative;
  width: 100%;
}

.imageContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.image {
  width: 800px;
}

.titleText {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 112px;
  margin-top: 80px;
  text-transform: uppercase;
}

.paragraphText {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
  letter-spacing: 0.02em;
  margin: 0 80px 60px 80px;
}
.aboutUsLink {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 25px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 40px 0 60px 0;
  }

  .image {
    width: 400px;
  }

  .titleText {
    font-size: 26px;
    text-align: center;
    line-height: 30px;
  }

  .paragraphText {
    font-size: 12px;
    line-height: 20px;
    margin: 30px 40px;
  }

  .aboutUsLink {
    font-size: 14px;
    margin-left: 25%;
  }

  .icon {
    margin-left: 5px;
  }
}
