.image {
  display: block;
  margin: auto;
  max-width: 800px;
}

.headerText {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 44px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 60px;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

.subheaderText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.supportUsLink {
  color: var(--mainBlue);
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 5px;
}

@media only screen and (max-width: 800px) {
  .image {
    max-width: 80%;
    margin-bottom: 30px;
    line-height: 20px;
  }

  .headerText {
    font-size: 14px;
    padding: 30px 40px;
  }

  .subheaderText {
    font-size: 12px;
  }

  .supportUsLink {
    font-size: 12px;
  }
}
