.container {
  border-radius: 50%;
  margin: 10px;
  padding: 30px 12px 18px 16px;
  border: 6px solid var(--mainBlue);
  outline-width: 0;
}

.activeContainer {
  background: var(--mainBlue);
  border: 6px solid white;
}

.inactiveContainer {
  background: white;
}

.linkIcon {
  font-size: 30px !important;
}

.activeLinkIcon {
  color: white;
}

.inactiveLinkIcon {
  color: var(--mainBlack);
}

@media only screen and (max-width: 767px) {
  .container {
    border-radius: 50%;
    margin: 7px;
    padding: 15px 6px 10px 9px;
    border: none;
  }

  .linkIcon {
    font-size: 18px !important;
  }

  .container {
    margin: 4px;
  }
}
