.container {
  background-color: var(--mainGrey);
  min-height: 200px;
  position: relative;
}

.primaryContainer {
  background-color: var(--mainBlue);
}

.text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-align: center;
  padding: 50px 20px;
}

@media only screen and (max-width: 767px) {
  .container {
    min-height: 120px;
  }
}
