.container {
  padding: 80px 6%;
}

.headerText {
  color: var(--mainBlack);
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 44px;
  margin-bottom: 50px;
}

.list {
  padding: 100px;
}

@media only screen and (max-width: 767px) {
  .container {
    padding-bottom: 0px;
  }
}
