.container {
  padding: 80px 0;
}

.container > h3.header {
  color: var(--mainBlack);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 28px;
  text-transform: uppercase;
}

.link {
  color: var(--mainBlue);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.linkIcon {
  margin-left: 10px !important;
}

.podcastContainer {
  padding: 15px 0;
  cursor: pointer;
}

.podcastHeader {
  color: var(--mainBlack);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 21px;
  margin-bottom: 10px;
}

.podcastDate {
  color: var(--mainBlack);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 25px 40px 25px;
    margin-top: 0;
  }
}
