.container .dropdown div[class="ui secondary vertical menu"] {
  width: auto;
}

.linkText {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
  text-transform: uppercase;
}
