.sticker.banner.segment {
  width: 180px;
  margin: 20px 20px 300px 20px;
}

.title {
  color: var(--mainBlack);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 28px;
  text-transform: uppercase;
}

.paragraph {
  color: var(--mainBlack);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 19px;
}
