.supportUsButton {
  border: 1px solid var(--mainBlue);
  padding: 10px 20px;
  max-width: 140px;
}

.supportUsButton:hover {
  background-color: var(--mainBlue);
}

.supportUsText {
  color: var(--mainBlue);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 25px;
  text-transform: uppercase;
}

.supportUsText:hover {
  color: white;
}
