.voteUsButton {
  padding: 7px 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 90px;
  color: #000000;
  font-size: 16px;
}
.voteUsButton::before {
  content: "Vote for us!";
}
.voteUsButton:hover {
  color: rgba(53, 53, 53, 0.685);
}

@media only screen and (max-width: 767px) {
  .voteUsButton::before {
    content: "Vote!";
  }
  .voteUsButton {
    padding: 5px 15px;
    font-size: 13px;
  }
}
