#containerFluid {
  width: 100%;
  background-color: #131b33;
  max-height: 800px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubLink {
  color: white;
}

.container {
  display: flex !important;
  align-items: baseline;
  color: #ffffff;
  justify-content: center;
}

.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 10px;
  /* max-width: 450px; */
  color: #ffffff;
}

.imgContainer {
  height: 380px;
  width: 100%;
  background: #3650a2;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.imgContainer .desktopImg,
.imgContainer .phoneImg {
  width: 436px;
  height: 380px;
  z-index: 2;
  margin-top: 15px;
}
.imgContainer .background {
  width: 500%;
  height: 500%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 0;
  opacity: 0.3;
  filter: invert(0.5);
}

.header {
  font-size: 34px;
  line-height: 45px;
  white-space: nowrap;
}

.download {
  margin-top: 20px;
  padding: 13px 40px;
  background: #3650a2;
  border-radius: 90px;
  color: #ffffff;
  font-size: 16px;
  width: 290px;
  margin-bottom: 20px;
}
.download:hover {
  background: #2c3c70;
}

.compatibility {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.compatibilityImg,
.compatibilityImgDesktop {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.versionImgName {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: 600;
  color: white;
  /* margin-left: 20px; */
}

.versionImgName img {
  width: 24px;
  height: 24px;
}

.versionImgName span {
  margin-left: 10px;
}

.opacity {
  opacity: 0.5 !important;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 120px;
  margin-top: 20px;
}

.supported,
.updated {
  opacity: 0.5;
}

.lastUpdated,
.lastUpdatedDesktop {
  margin-top: auto;
  margin-bottom: 25px;
}

.updated {
  margin-left: -5px;
}

@media only screen and (orientation: portrait) {
  #containerFluid {
    max-height: 700px;
    min-height: unset;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    font-size: 28px;
  }
  .imgContainer {
    height: 300px;
  }
  .imgContainer .desktopImg,
  .imgContainer .phoneImg {
    width: 321px;
    height: 280px;
    z-index: 2;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  #containerFluid {
    min-height: calc(100vh - 106px);
    max-height: unset;
    padding: 0;
  }
  #containerFluid .container {
    padding: 0 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  .wallet {
    width: 80%;
    margin-bottom: 40px;
  }
  .download {
    width: 280px;
    padding: 9px 20px;
  }
  .header {
    font-size: 24px;
    line-height: 32px;
  }
  .lastUpdated {
    margin-top: 20px;
  }
  .lastUpdatedDesktop {
    display: none;
  }
  .about {
    min-height: unset;
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .wallet {
    width: 100%;
  }
  .imgContainer {
    height: 250px;
    width: 90%;
  }
  .imgContainer .desktopImg,
  .imgContainer .phoneImg {
    width: 286px;
    height: 250px;
  }
}

@media only screen and (max-width: 380px) {
  .compatibilityImg {
    flex-wrap: nowrap;
  }
  .compatibilityImgDesktop {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .compatibilityImgDesktop .versionImgName {
    margin-bottom: 25px;
  }
  .imgContainer {
    height: 200px;
  }

  .imgContainer .desktopImg,
  .imgContainer .phoneImg {
    width: 230px;
    height: 200px;
  }
}
